{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <form action="/recharge" method="post">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroupPrepend">$</span>
                </div>
                <input autocomplete="off" autofocus type="number" class="form-control" aria-describedby="inputGroupPrepend" name="amount" placeholder="How much do you want to recharge?" required>
              </div>
        </div>
            <div class="form-group">
              <input type="text" id="disabledTextInput" class="form-control" placeholder="Credit card number" disabled>
            </div>
        <button class="btn btn-primary" type="submit">Recharge</button>
    </form>
{% endblock %}